Xft*antialias:          true
Xft*hinting:            full

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! === rofi ===

rofi.width: 50
rofi.lines: 15
rofi.columns: 1
rofi.color-enabled: true

! State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-window: #3d3c3b, #3d3c3b, #1e2529
rofi.color-normal: #3d3c3b, #c1c1c1, #3d3c3b, #383838, #c35f6b
rofi.color-active: #3d3c3b, #80cbc4, #3d3c3b, #383838, #80cbc4
rofi.color-urgent: #3d3c3b, #ff1844, #3d3c3b, #383838, #ff1844

rofi.separator-style: none
rofi.location: 1
!rofi.padding: 15
rofi.hide-scrollbar: true