* {
  padding: 0 0px;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: none;
}

window#waybar.hidden {
  opacity: 1;
}

#cpu,
#memory,
#mode,
#language,
#clock {
  font-family: "Ubuntu Mono";
  font-size: 18px;
  margin: 2px;
  border: 2px solid #181616;
  padding: 3px 2px 2px 2px;
  background: #181616;
}

#mode {
  font-size: 16px;
  padding-left: 0;
  color: #dcd7ba;
}

#workspaces {
  font-family: "Ubuntu Mono";
  font-size: 18px;
  margin: 2px 2px 2px 5px;
}

#workspaces button {
  padding-top: 1px;
  margin-right: 3px;
  border: 2px solid #181616;
  background-color: #181616;
  color: #dcd7ba;
}

#workspaces button:hover {
}

#workspaces button.visible {
  color: #181616;
  background-color: #dcd7ba;
}

#workspaces button.urgent {
  color: #181616;
  background: #e46876;
}

#language {
  color: #7e9cd8;
  padding: 0 6px 0 6px;
}

#clock {
  color: #98bb6c;
  margin-right: 2px;
  padding: 0 6px 0 6px;
}

#cpu {
  color: #ff9e3b;
  padding: 0 6px 0 6px;
}

#memory {
  color: #d27e99;
  padding: 0 6px 0 6px;
}

#custom-tray_expand {
  color: #dcd7ba;
  margin: 2px 5px 2px 2px;
  border: 2px solid #181616;
  padding: 3px 2px 2px 2px;
  background: #181616;
}

#custom-tray_expand:hover {
  color: #181616;
  background-color: #98bb6c;
}

@keyframes critical-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#memory.critical {
  animation-name: critical-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu.critical {
  animation-name: critical-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
